@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

@import 'reset';

$font-stack: Merriweather, serif;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-dark: #0288D1;

// Base Styles

body {
  padding-top: 70px;
  font: 100% $font-stack;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  text-shadow: 1px 1px rgba(255,255,255, 1);
}

input {
  color: #475B62;
  background: rgba(255,255,255,1);
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 4px;
}

// Alert and Error styles

.error {
  color: #D11404;
}

.ng-dirty.ng-invalid {
  border-color: #D11404;
}

.ng-dirty.ng-valid {
  border-color: #21D153;
}

.alert {
  margin-top: 10px;
  a { margin-left: 20px; }
}

// Container styles

.jumbotron {
  width: 800px;
  margin: 0 auto;
  text-align: center;

  span { font-size: 1.4rem; }
}

.box {
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px;
  margin: 10px auto;
}

// Buttons

.btn:hover { 
  background-color: lighten(#000000, 57%);
  border-radius: 6px;
 }

// Navbar

.navbar { background-color: $primary-color-light; }

.nav-guests li { float: right; }

/*
 * Page styles
 */

// User page

.user-topbox { padding: 5px; }

.user-stacks {
  padding-bottom: 10px;

	.btn { 
    margin-top: 8px;
    margin-right: 5px;
    float: right;
	}
}

.make-stack { 
  width: 60%;
  margin: 0 auto;
}

.stack {
  @extend .box;
  background-color: rgba(200, 200, 200, 0.8);
  padding: 0 15px;
  height: 50px;
  width: 70%;
}

// Stack page

.stack-top {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.stack-bottom {
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.card-list {
  margin-bottom: 8px;
  min-width: 300px;
  font-size: 1.6em;
  clear: both;
}

// Card editing page

.message {
  padding: 5px;
  text-align: center;
  font-size: 1.4rem;
  color: #338833;
}

.edit-content {
	@extend .box;
  min-height: 400px;
  padding: 10px;

	input { width: 200px; }
	img { height: 300px; }
}

.edit-answer {
  @extend .box;
  height: 400px;
  padding: 10px;

  input { margin-bottom: 10px; }
}

// Register page

.register {
  @extend .box;
  @extend .login;
}

// Login page

.login {
  padding: 10px;

  button { margin-bottom: 12px; }
  input { 
    width: 50%;
    margin: 5px auto;
  }
}

// Review page

.card-memory {
  text-align: center;
  padding: 10px;

  h2 { color: green; }
  img {
    border-radius: 6px;
  	max-height: 300px;
  }
}

.card-answer {
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px;

  input {
	  border: none;
	  margin-top: 15px;
	  margin-bottom: 15px;
	}

}

.controls button { margin: 0 150px; }


