<section>
<div class="container">
	<div class="card-edit row">
		<div class="edit-content col-sm-5 col-sm-offset-1">
			<h1>i want to remember...</h1>
			<p>add text, image, video, ...</p>
			<input type="text" placeholder="memory" ng-model="card.memory">
		</div>
		<div class="edit-controls col-sm-5">
			<form class="card-form" name="myform" novalidate
				ng-submit="editCard()">
				<div class="form-group">
					<input type="text" placeholder="answer" 
						ng-model="card.answer" ng-required="true">
				</div>
				<div class="btn-group">
					<button class="btn btn-primary btn-block" type="submit"
						ng-disabled="myform.$invalid">confirm</button>
					<a class="btn btn-default btn-block" type="button" ng-href="#/{{goBack}}">cancel</a>
				</div>
			</form><!-- editCard -->
			<div class="card-message">
				<p ng-show="message">{{ message }}</p>
			</div>
		</div>
	</div>

</div>
</section>