<section> 
<div class="container">
	<div class="card-answer">
		<input class="answer" type="text" placeholder="answer" class="form-control" autofocus
			ng-model="answer">	
		<button class="btn btn-primary btn-sm center-block" 
			ng-hide="card.show"
			ng-click="giveUp()">show the answer</button>
		<button class="btn btn-default btn-sm center-block" 
			ng-show="card.show"
			ng-click="nextCard()">next card</button>
	</div><!-- card-answer -->	
	
	<div class="card-memory">
		<h1>{{card.memory}}</h1>
		<h2 ng-show="card.show">{{card.answer}}</h3>
		<img class="image-responsive" ng-show="card.image" ng-src={{card.image}}>
	</div><!-- card-memory -->
</div><!-- container -->
</section>